{% import "core.html" as core %}

{% set profile_picture = ses.profile_picture %}
{% if not ses.profile_picture %}
  {% set profile_picture = "/static/img/facebook-pp.jpeg" %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    {{core.init()}}
  </head>
  <body class="bg-dark">
    {{core.navbar()}}
    <div class="container">
      <div class="card" style="margin-top: 70px">
        <div class="card-body mx-auto">
          <div class="row">
            <div class="col-sm-6">
              <img src="{{profile_picture}}" alt="{{ses.name[:15]}} photo" class="img-thumbnail img-fluid rounded mx-auto d-block" width="200" height="200">
            </div>
            <div class="col-sm-6">
               <div class="pt-3" style="">
                 <span class="text-monospace">{{ses.name[:15]}}</span><br>
                 <span class="text-monospace">{{ses.id}}</span>
               </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-monospace bg-light mt-2">
        <table class="table">
          <tbody>
            {% set daftar = [("/reaction/hm", "Spam Reaction in Home"), ("/reaction/ft", "Spam Reaction in Friend Timeline"), ("/reaction/gr", "Spam Reaction in Group"), ("/reaction/fp", "Spam Reaction in Fanspage"), ("/comment/hm", "Spam Comment in Home"), ("/comment/ft", "Spam Comment in Friend Timeline"), ("/comment/gr", "Spam Comment in Group"), ("/comment/fp", "Spam Comment in Fanspage"), ("/mass/unfriend", "Mass Unfriend"), ("/mass/accept-friend", "Mass Accept Friend"), ("/mass/reject-friend", "Mass Reject Friend"), ("/mass/unadd", "Mass Unadd (not Unfriend)")]%}
           {% for url, string in daftar %}
              <tr>
                <td><a href="{{url}}">{{string}}</a></td>
              </tr>
           {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {{core.js()}}
  </body>
</html>