{% import "core.html" as core %}
{% extends "template.html" %}

{% block name_menu %}
	{{title}}
{% endblock %}

{% block input_fields %}
	{{core.input("fa fa-thumbs-up", "Limit", "limit", type = "number")}}
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$(document).ready(function(){
			const tombol = $("#send");
			const log = $("#log");
			const limit = $("#limit");
         const success = $("#number-success");
         const failed = $("#number-failed")
			tombol.click(gas);

			function gas() {
				const limit_value = parseInt(limit.val())

				if (!limit_value && limit_value != 0) {
					log.append("<span>there must be no blank input!</span>");
				} else if (limit_value < 1 || limit_value > 100) {
					log.append("<span>limit min: 1 max: 100</span>");
				} else {
               swal({
                 title: "Warning !!!",
                 text: `are you sure for execute this process?`,
                 icon: "warning",
                 buttons: true,
                 dangerMode: true,
               })
               .then(function(arg) {
                  if (arg) {
                     $.ajax({
                        url: `/function/dump`,
                        data: {
                           "func":"{{func_dump}}",
                           "limit":limit_value,
                        },
                        method: "GET",
                        beforeSend: function() {
                           log.append("Get data ...");
                           tombol.toggleClass("d-none");
                        },
                        success: async function(data){
                           data = $.parseJSON(data);
                           if (data.status) {
                              data = data.items;
                              log.append(`<span>Total: ${data.length}</span>`)
                              await sleep(1000);
                              log.append("<span>Process ... </span>")
                              gas_process(data);
                           }
                        }
                     });
                  }
               });
				}
			}

			async function gas_process(data){
            if (data.length == 0) {
               log.append("<span>Done!</span>")
               tombol.toggleClass("d-none");
               return ;
            }

            let total_success = 0;
            let total_failed = 0;
            for (let i = 0; i < data.length; i++){
               {% if index_id == "" %}
                  id = data[i];
               {% else %}
                  id = data[i][parseInt("{{index_id}}")];
               {% endif %}
               await sleep(300);
               await new Promise(resolve => {
                  resolve($.ajax({
                     url: `/function/{{func_process}}`,
                     data: {
                        "id":id,
                     },
                     method: "{{method}}",
                     success: function(data){
                        data = $.parseJSON(data);
                        if (data.status) {
                           total_success += 1;
                           success.html(total_success);
                        } else {
                           total_failed += 1;
                           failed.html(total_failed); 
                        }
                     }
                  }));
               });
               if (total_success + total_failed == data.length) {
                  log.append("<span>Done!</span>")
                  tombol.toggleClass("d-none");
               }
            }
			}
		});
	</script>
{% endblock %}