{% import "core.html" as core %}

<!DOCTYPE html>
<html>
<head>
	{{core.init()}}
</head>
<body class="bg-dark">
	{{core.navbar()}}
	<div class="container" style="margin-top: 70px">
		<div class="input-group mb-3">
		  <input type="text" class="form-control" id="input" placeholder="Full Name" aria-label="Full Name" aria-describedby="search">
		  <div class="input-group-append">
		    <button class="btn btn-primary" type="button" id="search" onclick="search()"><i class="fa fa-search"></i><span class="ml-1">Search</span></button>
		  </div>
		</div>
		<div id="friend">
			<div class="row mx-auto">
				{% for name, id_, img in items %}
					<div class="col-lg-6 mb-1" id="{{id_|replace('.', '')}}">
						<div class="row text-monospace text-white">
							<img src="{{img}}" class="img-fluid img-thumbnail" style="width: 180px">
							<div class="my-auto ml-2">
								<span>{{name[:20]}}</span><br>
								<span>{{id_}}</span><br>
								<div class="dropdown" id="keren">
								  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Action
								  </button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								    <a class="dropdown-item" onclick="unfriend('{{name}}', '{{id_}}')">Unfriend</a>
								    <a class="dropdown-item" href="/reaction/ft?id={{id_}}">Spam React</a>
								    <a class="dropdown-item" href="/comment/ft?id={{id_}}">Spam Comment</a>
								  </div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{% if next %}
				<a class="btn btn-primary mt-1 mb-3" href="/myfriends?next={{next}}">Next</a>
			{% else %}
				<a class="btn btn-primary mt-1 mb-3" href="/myfriends">Back to the beginning</a>		
			{% endif %}
		</div>
	</div>
	 
	 {{core.js()}}
	 <script type="text/javascript">
	 	function unfriend(name, id){
	 		swal({
			  text: null,
			  title: `are you sure unfriend ${name}?`,
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then(function(arg) {
				if (arg) {
					unfriend_procces(name, id);
				}
			});
		}

		function unfriend_procces(name, id){
	 		var id2 = id.replace(/[.]/g, "");
	 		var html = $(`#${id2}`);
	 		var tombol = html.find("#keren");
	 		var tombol_html = tombol.html();
	 		execute = true;
	 		if (execute) {
	 			$.ajax({
	 				url: `/function/unfriend`,
	 				data: {"id":id},
	 				method: "GET",
	 				beforeSend: function() {
	 					tombol.html("<span>Loading ...</span>")
	 				},
	 				success: function(data){
	 					data = $.parseJSON(data);
	 					if (data.status) {
	 						alert_(`Success unfriend ${name}`, null, type = "success");
	 						html.addClass("d-none");
	 					} else {
	 						alert_(`Failed unfriend ${name}`, null, type = "error");
	 						tombol.html(tombol_html);
	 					}
	 				}
	 			});
	 		}
	 	}

	 	function search() {
	 		var name = $("#input").val();
	 		var friend = $("#friend");
	 		if (name == "") return ;
	 		$.ajax({
	 			url: "/function/search_f",
	 			data: {"name":name},
	 			method: "GET",
	 			success: data => {
	 				try {
	 					data = $.parseJSON(data);
		 				friend.html(`
		 					<div class="col-lg-6 mb-1">
								<div class="row text-monospace text-white">
									<img src="${data[2]}" class="img-fluid img-thumbnail" style="width: 180px">
									<div class="my-auto ml-2">
										<span>${data[0]}</span><br>
										<span>${data[1]}</span><br>
										<div class="dropdown">
										  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    Action
										  </button>
										  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										    <a class="dropdown-item" onclick="unfriend('${data[0]}', '${data[1]}')">Unfriend</a>
										    	<a class="dropdown-item" href="/reaction/ft?id=${data[1]}">Spam React</a>
							    				<a class="dropdown-item" href="/comment/ft?id=${data[1]}">Spam Comment</a>
										  </div>
										</div>
									</div>
								</div>
							</div>
		 				`);
	 				} catch(err) {
	 					alert_("Not Found", null, type = "error");
	 				}
	 			}
	 		});
	 	}
	 </script>	
</body>
</html>