{% import "core.html" as core %}
{% extends "template.html" %}

{% block name_menu %}
	Spam Reaction in Home
{% endblock %}

{% block input_fields %}
	{{core.input("fa fa-thumbs-up", "Limit", "limit", type = "number")}}
   <div class="form-group">
      <select class="form-control" id="type_react">
         <option value="like">Like</option>
         <option value="love">Love</option>
         <option value="wow">Wow</option>
         <option value="haha">Haha</option>
         <option value="angry">Angry</option>
         <option value="care">Care</option>
      </select>
   </div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$(document).ready(function(){
			const tombol = $("#send");
			const log = $("#log");
			const limit = $("#limit");
         const success = $("#number-success");
         const failed = $("#number-failed")
			tombol.click(gas);

			function gas() {
				const limit_value = parseInt(limit.val())

				if (!limit_value && limit_value != 0) {
					log.append("<span>there must be no blank input!</span>");
				} else if (limit_value < 1 || limit_value > 300) {
					log.append("<span>limit min: 1 max: 300</span>");
				} else {
					$.ajax({
		 				url: `/function/dump`,
		 				data: {
		 					"func":"react_post_home",
		 					"limit":limit_value,
		 				},
		 				method: "GET",
		 				beforeSend: function() {
		 					log.append("Get data ...");
		 					tombol.toggleClass("d-none");
		 				},
		 				success: async function(data){
		 					data = $.parseJSON(data);
		 					if (data.status) {
		 						data = data.items;
		 						log.append(`<span>Total: ${data.length}</span>`)
                        await sleep(1000);
                        log.append("<span>Process ... </span>")
		 						gas_process(data);
		 					}
		 				}
		 			});
				}
			}

			async function gas_process(data){
            const type_react = $("#type_react").val();
            if (data.length == 0) {
               log.append("<span>Done!</span>")
               tombol.toggleClass("d-none");
               return ;
            }

            let total_success = 0;
            let total_failed = 0;
            for (let i = 0; i < data.length; i++){
               url = data[i];
               await sleep(300);
               await new Promise(resolve => {
                  resolve($.ajax({
                     url: `/function/reaction`,
                     data: {
                        "url":url,
                        "type":type_react,
                     },
                     method: "POST",
                     success: function(data){
                        data = $.parseJSON(data);
                        if (data.status) {
                           total_success += 1;
                           success.html(total_success);
                        } else {
                           total_failed += 1;
                           failed.html(total_failed); 
                        }
                     }
                  }));
               });
               if (total_success + total_failed == data.length) {
                  log.append("<span>Done!</span>")
                  tombol.toggleClass("d-none");
               }
            }
			}
		});
	</script>
{% endblock %}